* unadvised-track 73674ad8
* 2024-08-19T06:43:56.515222-06:00

In [1]:
%load_ext autoreload
%autoreload 2

In [10]:
from zero_wrong_average.imports import *
from zero_wrong_average import proc_data as prd
from zero_wrong_average import convert_to_kml as kml

df = prd.load_data_archive()
assert df['confidence'].unique().sum() == 1

In [39]:
df['hour'] = df['datetime'].dt.hour
df['day'] = df['datetime'].dt.floor('D')
m = (df['hour'] > 5) & (df['hour'] < 22)
m &= df['place_description'].str.contains('denver-I25')
g = df[m].groupby(['place_description', 'day', 'hour'])['speed_percent'].mean()
pd.pivot(g.reset_index(), index=['place_description', 'hour'], columns=['day'])

                                   speed_percent
day                    2024-08-18 00:00:00-06:00 2024-08-19 00:00:00-06:00
place_description hour
denver-I25@104th  6                          NaN                  1.000000
                  7                          NaN                  1.000000
                  8                          NaN                  1.000000
                  9                          NaN                  1.000000
                  10                    1.000000                  1.000000
                  11                    1.000000                  1.000000
                  12                    1.000000                  1.000000
                  13                    1.000000                  1.000000
                  14                    1.000000                  1.000000
                  15                    1.000000                  1.000000
                  16                    1.000000                       NaN
                  17                    1.000000                       NaN
                  18                    1.000000                       NaN
                  19                    1.000000                       NaN
                  20                    1.000000                       NaN
                  21                    1.000000                       NaN
denver-I25@I70    6                          NaN                  1.000000
                  7                          NaN                  1.000000
                  8                          NaN                  1.000000
                  9                          NaN                  1.000000
                  10                    1.000000                  1.000000
                  11                    1.000000                  1.000000
                  12                    1.000000                  1.000000
                  13                    1.000000                  0.817228
                  14                    1.000000                  0.873832
                  15                    0.468494                  1.000000
                  16                    0.752427                       NaN
                  17                    1.000000                       NaN
                  18                    0.953883                       NaN
                  19                    1.000000                       NaN
                  20                    1.000000                       NaN
                  21                    1.000000                       NaN
denver-I25@I76    8                          NaN                  0.831776
                  9                          NaN                  0.465716
                  10                         NaN                  0.757143
                  11                         NaN                  1.000000
                  12                         NaN                  1.000000
                  13                         NaN                  1.000000
                  14                         NaN                  1.000000

In [25]:
df.dtypes

path                                    object
timestamp_float                        float64
place_description                       object
datetime             datetime64[ns, UTC-06:00]
currentSpeed                           float64
freeFlowSpeed                          float64
confidence                             float64
roadClosure                               bool
speed_percent                          float64
hour                                     int32
dtype: object